@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap'); /*Police d'écriture .footer*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /*Police d'écriture .bouton*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap'); /*Police d'écriture .texte*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: calc(100% - 5px);
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
}

div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: calc(10% - 10px);
    margin: 5px 100px 5px 100px;
    background-color: #bababa;
    border-radius: 20px 20px 0 0;
}
div.header h1 {
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
}

div.content {
    display: flex;
    width: auto;
    height: 80%;
    margin: 5px 100px 5px 100px;
    background-color: #bababa;
}

div.list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
    margin-left: 50px;
}

a.lien {
    width: calc(33.33% - 115px);
    height: 400px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
}

/*index.html*/
div.affiche {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
}

img {
    user-select: none;
    pointer-events: none;
}

img.menu {
    width: 100%;
    height: 85%;
}

div.affiche p {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*film.php*/
div.bloc {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 400px;
    margin: 5px 5px 5px 5px;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
}

div.bloc img {
    height: 100%;
    width: 25%;
}

div.infos {
    height: 100%;
    width: 75%;
}

div.ligne {
    display: flex;
    flex-direction: row;
    height: calc(100% / 4 - 15px);
    width: 100%;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin-top: 10px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    font-family: 'Aoboshi One', serif;
    margin-top: 10px;
    font-size: 20px;
    border-left: 2px solid black;
}

.original {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: calc(100% / 4 - 15px);
    width: 100%;
    border-top: 2px solid black;
    font-family: 'Aoboshi One', serif;
    margin-top: 20px;
    font-size: 20px;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 4 - 15px);
    width: 100%;
    border-top: 2px solid black;
    font-family: 'Aoboshi One', serif;
    font-size: 20px;
    margin-top: 10px;
}

.resume {
    height: calc(100% / 4 - 15px);
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-top: 2px solid black;
}

a.lien2 {
    width: 95%;
    height: 200px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
}

.bloc2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    font-family: 'Aoboshi One', serif;
}

.infos2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-size: 50px;
    margin-top: 10px;
}

.role {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 25px;
    margin-top: -10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 25px;
    margin-top: -10px;
}

/*acteur.php*/
.infos3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

.ligne2 {
    display: flex;
    width: 100%;
}

.name2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% / 3);
    font-size: 40px;
    margin-top: 10px;
}

.naissance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% / 3);
    font-size: 25px;
    margin-top: -10px;
}

.datenais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100% / 3);
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.espace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100% / 3);
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.datemort {
    display: flex;
    flex-direction: row;
    height: calc(100% / 3);
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.biographie {
    display: flex;
    flex-direction: row;
    height: calc(100% / 3);
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.bloc3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    font-family: 'Aoboshi One', serif;
}

.infos4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.titre2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.date2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.role2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: calc(10% - 10px);
    margin: 5px 100px 5px 100px;
    background-color: #bababa;
    border-radius: 0 0 20px 20px;
    font-family: 'Aoboshi One', serif;
    font-style: italic;
}
